.todolist {
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: space-between;
  padding: 0 150px;
}
form {
  text-align: center;
}
h1 {
  text-align: center;
}
.add-btn {
  margin: 5px;
  padding: 3px 10px;
  background: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
}
