.todolist {
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: space-between;
  padding: 0 150px;
}
form {
  text-align: center;
}
h1 {
  text-align: center;
}
.add-btn {
  margin: 5px;
  padding: 3px 10px;
  background: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
}
.del-btn {
  margin: 5px;
  border: navajowhite;
  background: #cf2724;
  color: white;
  border-radius: 4px;
}
.edit-btn {
  margin: 5px;
  border: navajowhite;
  background: green;
  color: white;
  border-radius: 4px;
}
.edit-form {
  margin-top: 10px;
}
.update-btn {
  margin: 5px;
  border: navajowhite;
  background: grey;
  color: white;
  border-radius: 4px;
}
